*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: antiquewhite;
    min-height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    background-image: url(../img/banner_supermario.jpg);
    background-position-y: -770px;
    background-position-x: -450px;
}

header img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

h1{
    font-size: 3rem;
    flex-grow: 1;
    text-align: center;
}

nav{
    min-height: 6vh;
    background-color: rgb(255, 255, 111);
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

nav a{
    width: 13rem;
    text-align: center;
    text-decoration: none;
    height: 3.5rem;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.8rem;
    color: black;
    font-weight: bolder;
    font-size: 1.5rem;
    background-color: rgb(247, 47, 12);
    transition: all 0.5s;
}

a:hover{
    transform: scale(1.3) rotate(15deg);
    color: orange;
    background-color: green;
}

.active{
    background-color: black;
    color: white;
}

.galeria{
    width: 90vw;
    height: 600px;
    display: flex;
    justify-content: center;
}

.galeria img{
    width: 15%;
    object-fit: cover;
    transition: all 1s ease-in-out;
}

.galeria img:hover{
    width: 50%;
}

main{
    background-color: rgb(222, 250, 215);
    min-height: 79vh;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

main h2{
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

section{
    display: flex;
    background-color: white;
    width: 400px;
    height: 200px;
    border-radius: 1rem;
    transition: all 0.5s;
}

section:hover{
    transform: scale(1.2);
}

section img{
    height: 100%;
    width: 50%;
    object-fit: contain;
    background-color: rgba(255, 166, 0, 0.352);
    border-radius: 1rem 0 0 1rem;
}

section div{
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section div h2{
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

section div p{
    padding: 1rem;
}

footer{
    background-color: dodgerblue;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------- informacion ---------- */

dt {
    font-weight: 600;
    font-size: 20px;
}

table {
    width: 70%;
    border-collapse: collapse;
    border-collapse: separate;
}

table caption {
    background-color: black;
    color: white;
    font-size: 30px;
}
  
td, th {
    padding: 8px;
    text-align: center;
    background-color: coral;
    border: 1px solid red;
}

.centered {
    text-align: center;
}

/* ---------- contactos ---------- */

.container {
    background-color: #4CAF50;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid   black;
    border-radius: 5px;
  }
  
  .container h2 {
    text-align: center;
  }
  
  .container form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .container form input[type="text"],
  .container form input[type="email"],
  .container form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid black;
  }
  
  .container form input[type="submit"] {
    background-color: gold;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }